.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 100vw;
    height: 65vh;
    background-color: rgba(195, 223, 224, 0.7);
}

.container > h3{
    margin-top: 10px;
}

.container > p{

}