*{
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb{
    background: rgba(80, 25, 215, 0.7);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(72, 0, 255);
}

.newpage{
    min-height: 100vh;
    content: '';
}

body {
    min-height: 100vh;
}

body::before{
    content: '';
    position: absolute;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    opacity: .5;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.title{
    font-size:50pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: left;
    margin-left: auto;
    opacity:.99;
}

.title, .options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:inherit;
    opacity: .99;
}

.options>*:hover{
    background-color:black;
    border: black;
}

.options>*:first-child{
    margin-left:715px;
}

.options>*:last-child{
    /*margin-right: 1%;*/
}

.options>*{
    justify-content: center;
    align-self:center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .25);
    text-decoration: none;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-container {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: 25px;
    flex-basis: 5px;
}

.banner1{
    width: 100%;
    height: 100%;
    object-fit:fill;
    background-repeat: no-repeat;
    background-image:url("%PUBLIC_URL%/images/clouds.gif")
}